[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
cryptography = "*"
flask = "*"
flask-restful = "*"
flask-jwt-extended = "*"
flask-sqlalchemy = "*"
sqlalchemy = "*"
sqlalchemy-serializer = "*"
flask-bcrypt = "*"
flask-migrate = "*"

[dev-packages]
flask-migrate = "*"

[requires]
python_version = "3.8"
